<mat-tab-group (selectedIndexChange)="generationId.set($event + 1)">
  <mat-tab *ngFor="let gen of generation$ | async" [id]="gen.id" [label]="gen.name">
    <div *ngIf="pokemonCollection()?.length; else empty" class="pokemon-collection">
      <div *ngFor="let pokemon of pokemonCollection()" class="pokemon">
        <img alt="" [ngSrc]="pokemon.imageUrl" [width]="50" [height]="50"/>
        <p>{{ pokemon.name }}</p>
      </div>
    </div>
    <ng-template #empty>
      <p>No Pokemon found or an error was thrown.</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>


