<div class="editor">
    <form [formGroup]="todoForm">
        <mat-form-field>
            <mat-label>Todo name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Todo desciption</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Todo owner</mat-label>
            <input matInput formControlName="owner">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput formControlName="dueDate" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-button color="primary" (click)="onSave()">Save</button>
    </form>
</div>