.todo-info {
  display: grid;
  grid-template-columns: 1fr min-content;

  .description {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}